.img_filepdf {
    background-position: center;
    background-size: contain;
    background-clip: border-box;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
    cursor: pointer;
    background-image: url("../../../public/image/upload/notupload_filepdf.png");
}

.linkopen_upload,
.linkopen_upload:hover {
    background-color: coral !important;
    color: white !important;
    padding: 8px !important;
    margin: 0px !important;
    border-radius: 100% !important;
    font-size: 12px;
}

.btnColorGray {
    background-color: #4a4e69 !important;
    color: #ffff !important;
    font-size: var(--fuente);
}

.btnColorRed {
    background-color: rgb(233, 77, 77) !important;
    color: #ffff !important;
    font-size: var(--fuente);
}

.btnColorViolet {
    background-color: #844ae0 !important;
    color: #ffff !important;
    font-size: var(--fuente);
}

#parent_vehiculo {
    width: 300px;
    background-color: white;
    border-top: 0px;
    border-left: 2px solid #ccc !important;
    border-right: 2px solid #ccc !important;
    border-bottom: 0px;
    user-select: none;
    touch-action: none;
    box-sizing: border-box;
    transition: 0.2s ease-in-out;
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 300px !important;
    max-width: 80% !important;
}

.objeto {
    width: auto;
    height: auto;
    touch-action: none;
    user-select: none;
    text-align: center;
}

.objeto:hover .icon_obj {
    color: #f78e2c !important;
}

.icon_delete,
.icon_rotar {
    cursor: pointer !important;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white !important;
    border-radius: 100%;
    transition: 0.5s ease-in-out;
    font-size: 13px !important;
    font-weight: bolder !important;
}

.icon_delete {
    background-color: #ff2b4b;
}

.icon_rotar {
    background-color: #7425f1;
}

.vehiculo_segundoPiso {
    border-top: 2px solid #ccc !important;
    border-bottom: 2px solid #ccc !important;
}