/* HEADER PAGE */
.header-page>h2 {
    font-family: var(--fuente);
    font-weight: 500;
    font-size: 16px;
    color: var(--colorText);
}

.header-page>h2>a {
    color: rgba(67, 66, 66, 0.8);
    margin-right: 1vw;
}