/* CONFIGURACION */
h5 {
  font-family: var(--fuente);
  color: var(--colorText)
}

.form-control,
.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0px !important;
}

.form-select,
.form-:focus {
  border: 1px solid #ccc !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.form-check-input,
.form-check-input:focus {
  border: 1px solid #ccc !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  color: red !important;
}


button {
  border: 1px solid transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-family: var(--fuente);
  font-size: 12px !important;
}

.btn {
  box-shadow: none !important;
}

input[readonly],
textarea[readonly],
select[readonly],
option[readonly] {
  color: var(--fnfColor-1) !important;
  background-color: white !important;
  cursor: not-allowed;
}

input[type="text"],
input[type="pass"],
input[type="file"],
input[type="date"],
input[type="email"],
input[type="checkbox"],
input[type="number"],
input[type="month"],
input[type="time"],
input[type="datetime"],
textarea,
select,
option {
  font-size: 12px !important;
  font-family: var(--fuente) !important;
}

label {
  font-size: 12px;
}

.form-select,
.form-control {
  border-color: #c3c6c9 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.btn {
  padding: .4rem 1rem !important;
}