/* SELECT 2 */
.select2-container--default .select2-selection--single,
.select2-selection .select2-selection--single {
    border-color: #c3c6c9 !important;
    border-radius: 4px;
    padding: 5px 12px;
    height: 2rem;
    font-size: 12.5px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-right: 10px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin-top: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 35px;
    right: 3px;
}

/* INPUT SELECT2 */
.select2-container>.selection>.select2-selection>.select2-selection__rendered {
    font-family: var(--fuente) !important;
    font-size: 12px !important;
    padding-left: 0px !important;
}

/* search del select */
.select2-container>.select2-dropdown>.select2-search>.select2-search__field {
    font-family: var(--funete) !important;
    font-size: 12px !important;
    outline: none !important;
}

/* opciones del select */
.select2-results__options {
    font-family: var(--fuente) !important;
    font-size: 12px !important;
}

.select2-container .select2-selection--single,
.select2-selection__arrow {
    height: 100% !important;
}