.btnColorVerde {
    background-color: #076b55 !important;
    color: #ffff !important;
    font-family: var(--fuente);
    font-size: 12px !important;
}

.btnColorVerde .bi {
    vertical-align: middle;
}

.Btnexport {
    padding: 15px 30px;
    background-color: #0f794d !important;
    color: #fff !important;
    font-family: var(--fuente);
    font-size: 12px !important;
    border: 1px solid #0f794d !important;
}

.Btnexport:hover {
    background-color: #28a745 !important;
    border: 1px solid #28a745 !important;
    color: #fff !important;
}

.BtnPrint {
    padding: 15px 30px;
    background-color: #0edceb !important;
    color: #fff !important;
    font-family: var(--fuente);
    font-size: 12px !important;
    border: 1px solid #0edceb !important;
}

.BtnPrint:hover {
    background-color: #53b6c4 !important;
    border: 1px solid #53b6c4 !important;
    color: #fff !important;
}

.BtnEXCEL {
    padding: 15px 30px;
    background-color: #097009 !important;
    color: #fff !important;
    font-family: var(--fuente);
    font-size: 12px !important;
    border: 1px solid #097009 !important;
}

.BtnEXCEL:hover {
    background-color: #128D12 !important;
    border: 1px solid #128D12 !important;
    color: #fff !important;
}

.BtnPDF {
    padding: 15px 30px;
    background-color: #DF1919 !important;
    color: #fff !important;
    font-family: var(--fuente);
    font-size: 12px !important;
    border: 1px solid #DF1919 !important;
}

.BtnPDF:hover {
    background-color: #DF1919 !important;
    border: 1px solid #DF1919 !important;
    color: #fff !important;
}

.BtnPRINT {
    padding: 15px 30px;
    background-color: #0edceb !important;
    color: #fff !important;
    font-family: var(--fuente);
    font-size: 12px !important;
    border: 1px solid #0edceb !important;
}

.BtnPRINT:hover {
    background-color: #53b6c4 !important;
    border: 1px solid #53b6c4 !important;
    color: #fff !important;
}